* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#Navegador{ 
    background-color: rgb(55, 57, 201);

    align-items: space-around;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
}

.Titulo{
    color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

ul li{ 
    background-color: aliceblue;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
}

a{ 
    color: black;
    text-decoration: none;
}

a:hover{ 
    color: darkcyan;
}